In [18]:
import pandas as pd
import numpy as np
import json

In [19]:
train = pd.read_csv('input/train_data.csv')
test = pd.read_csv('input/test_data.csv')
data = pd.read_csv('data_ana.csv')

# ↑のjsonファイルをnames.jsonで保存してある前提
with open("columns.json", "r", encoding="utf-8") as f:
     d = json.load(f)
        
train = train.rename(columns=d)
test = test.rename(columns=d)

delete_columns = ['id', 'Prefecture', 'Municipality', 'DistrictName']
train = train.drop(delete_columns, axis=1)
test = test.drop(delete_columns, axis=1)
train = train.drop_duplicates()
train_data = data[:len(train)]

In [20]:
sp_ids = [25672,25857,26116,26228,26229,26519,26745,27872,27943,28059,28816,29513,29591,30085,30141,
30341, 34010,34075, 34104,34671,34728,34729,34732,34738,34746,34748,34750,34752,34767,
34792,34793,34794,34795,34796,34798,34804,34825,34826,34831]

In [21]:
test_data = data[len(train):]

In [23]:
test_data

,Type,Region,MunicipalityCode,TimeToNearestStation,FloorPlan,Area,LandShape,Frontage,TotalFloorArea,BuildingYear,...,Studio,Housing,office,store,other_use,Warehouse,parking,plant,shareHouse,Workshop
352857,0,0,13101,3,11,35,0,NaN,NaN,1985.0,...,0,1,0,0,0,0,0,0,0,0
352858,0,0,13101,4,6,20,0,NaN,NaN,1982.0,...,0,0,0,0,0,0,0,0,0,0
352859,2,2,13101,3,0,80,1,6.8,330.0,1986.0,...,0,1,1,1,0,0,0,0,0,0
352860,0,0,13101,3,6,30,0,NaN,NaN,1985.0,...,0,0,0,0,0,0,0,0,0,0
352861,0,0,13101,1,23,70,0,NaN,NaN,1984.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387696,2,1,13401,10,0,840,1,27.0,60.0,NaN,...,0,1,0,0,0,0,0,0,0,0
387697,1,1,13401,10,0,370,4,14.0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
387698,1,1,13401,10,0,520,5,23.9,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
387699,1,1,13421,10,0,380,1,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
387700,1,1,13421,10,0,350,5,9.0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
test

In [26]:
data.iloc[sp_ids]

,Type,Region,MunicipalityCode,TimeToNearestStation,FloorPlan,Area,LandShape,Frontage,TotalFloorArea,BuildingYear,...,Studio,Housing,office,store,other_use,Warehouse,parking,plant,shareHouse,Workshop
25672,0,0,13108,11,6,25,0,NaN,NaN,2014.0,...,0,1,0,0,0,0,0,0,0,0
25857,2,1,13108,5,0,45,9,3.8,75.0,2017.0,...,0,1,0,0,0,0,0,0,0,0
26116,0,0,13108,2,6,20,0,NaN,NaN,2003.0,...,0,1,0,0,0,0,0,0,0,0
26228,0,0,13109,9,23,55,0,NaN,NaN,2002.0,...,0,1,0,0,0,0,0,0,0,0
26229,1,1,13109,5,0,45,9,8.1,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
26519,0,0,13109,8,33,75,0,NaN,NaN,1998.0,...,0,1,0,0,0,0,0,0,0,0
26745,0,0,13109,6,17,60,0,NaN,NaN,2006.0,...,0,1,0,0,0,0,0,0,0,0
27872,2,1,13109,8,0,30,9,3.0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
27943,0,0,13109,4,11,40,0,NaN,NaN,2003.0,...,0,1,0,0,0,0,0,0,0,0
28059,0,0,13109,4,6,20,0,NaN,NaN,1982.0,...,0,1,0,0,0,0,0,0,0,0
28816,0,0,13109,7,6,20,0,NaN,NaN,1993.0,...,0,1,0,0,0,0,0,0,0,0
29513,1,1,13109,2,0,50,4,4.0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
29591,0,0,13109,7,4,25,0,NaN,NaN,1998.0,...,0,1,0,0,0,0,0,0,0,0
30085,1,1,13109,7,0,230,4,11.1,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
30141,0,0,13109,4,6,25,0,NaN,NaN,2007.0,...,0,1,0,0,0,0,0,0,0,0
30341,0,0,13109,4,6,20,0,NaN,NaN,2011.0,...,0,1,0,0,0,0,0,0,0,0
34010,1,1,13111,5,0,85,9,10.8,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
34075,2,2,13111,7,0,340,5,16.5,940.0,1990.0,...,0,0,0,1,0,0,0,0,1,0
34104,1,1,13111,10,0,65,5,2.0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
34671,2,1,13111,8,0,140,4,7.0,260.0,1973.0,...,0,0,0,0,0,0,0,0,1,1
34728,0,0,13111,5,4,30,0,NaN,NaN,2004.0,...,0,1,0,0,0,0,0,0,0,0
34729,0,0,13111,5,6,20,0,NaN,NaN,2000.0,...,0,1,0,0,0,0,0,0,0,0
34732,0,0,13111,5,33,60,0,NaN,NaN,2014.0,...,0,1,0,0,0,0,0,0,0,0
34738,0,0,13111,4,33,60,0,NaN,NaN,2014.0,...,0,1,0,0,0,0,0,0,0,0
34746,0,0,13111,1,6,20,0,NaN,NaN,2006.0,...,0,1,0,0,0,0,0,0,0,0
34748,0,0,13111,6,6,20,0,NaN,NaN,2003.0,...,0,0,0,0,0,0,0,0,0,0
34750,0,0,13111,3,6,20,0,NaN,NaN,2008.0,...,0,0,0,0,0,0,0,0,0,0
34752,2,2,13111,2,0,55,9,4.5,65.0,1973.0,...,0,1,0,0,0,0,0,0,0,0
34767,0,0,13111,6,6,20,0,NaN,NaN,2003.0,...,0,1,0,0,0,0,0,0,0,0
34792,0,0,13111,1,23,70,0,NaN,NaN,2015.0,...,0,1,0,0,0,0,0,0,0,0
34793,0,0,13111,1,33,65,0,NaN,NaN,2015.0,...,0,1,0,0,0,0,0,0,0,0
34794,0,0,13111,1,23,55,0,NaN,NaN,2015.0,...,0,1,0,0,0,0,0,0,0,0
34795,0,0,13111,1,33,80,0,NaN,NaN,2015.0,...,0,1,0,0,0,0,0,0,0,0
34796,0,0,13111,1,33,70,0,NaN,NaN,2015.0,...,0,1,0,0,0,0,0,0,0,0
34798,0,0,13111,1,11,50,0,NaN,NaN,2015.0,...,0,1,0,0,0,0,0,0,0,0
34804,0,0,13111,1,6,30,0,NaN,NaN,2015.0,...,0,1,0,0,0,0,0,0,0,0
34825,0,0,13111,1,23,60,0,NaN,NaN,2015.0,...,0,1,0,0,0,0,0,0,0,0
34826,0,0,13111,1,23,60,0,NaN,NaN,2015.0,...,0,1,0,0,0,0,0,0,0,0
34831,0,0,13111,1,33,65,0,NaN,NaN,2015.0,...,0,1,0,0,0,0,0,0,0,0

In [11]:
train.columns

Index(['id', '種類', '地域', '市区町村コード', '都道府県名', '市区町村名', '地区名', '最寄駅：名称',
       '最寄駅：距離（分）', '間取り', '面積（㎡）', '土地の形状', '間口', '延床面積（㎡）', '建築年', '建物の構造',
       '用途', '今後の利用目的', '前面道路：方位', '前面道路：種類', '前面道路：幅員（ｍ）', '都市計画', '建ぺい率（％）',
       '容積率（％）', '取引時点', '改装', '取引の事情等', 'y'],
      dtype='object')

In [13]:
train.dtypes

id              int64
種類             object
地域             object
市区町村コード         int64
都道府県名          object
市区町村名          object
地区名            object
最寄駅：名称         object
最寄駅：距離（分）      object
間取り            object
面積（㎡）          object
土地の形状          object
間口             object
延床面積（㎡）        object
建築年            object
建物の構造          object
用途             object
今後の利用目的        object
前面道路：方位        object
前面道路：種類        object
前面道路：幅員（ｍ）    float64
都市計画           object
建ぺい率（％）       float64
容積率（％）        float64
取引時点           object
改装             object
取引の事情等         object
y             float64
dtype: object

In [16]:
type_h = train['種類'].unique()

In [18]:
for i in type_h:
    print(i, len(train[train['種類'] == i]))

中古マンション等 158943
宅地(土地と建物) 125344
宅地(土地) 71594
林地 381
農地 82

In [20]:
train['地域'].unique()

array([nan, '商業地', '住宅地', '工業地', '宅地見込地'], dtype=object)

In [21]:
for i in type_h:
    print(i, len(train[train['地域'] == i]))

nan 0
商業地 20531
住宅地 174763
工業地 1202
宅地見込地 442

In [27]:
train.isnull().sum()

id                 0
種類                 0
地域            159406
市区町村コード            0
都道府県名              0
市区町村名              0
地区名              246
最寄駅：名称          1551
最寄駅：距離（分）      10129
間取り           202568
面積（㎡）              0
土地の形状         159801
間口            176081
延床面積（㎡）       236201
建築年            82841
建物の構造          78829
用途             81061
今後の利用目的       244965
前面道路：方位       159830
前面道路：種類       161971
前面道路：幅員（ｍ）    163065
都市計画            3447
建ぺい率（％）         5386
容積率（％）          5386
取引時点               0
改装            212071
取引の事情等        328208
y                  0
dtype: int64

In [44]:
for i in train['取引の事情等'].unique():
    print(i, len(train[train['取引の事情等'] == i]))

nan 0
私道を含む取引 18728
隣地の購入 1805
関係者間取引 1195
調停・競売等 5458
隣地の購入、私道を含む取引 189
隣地の購入、関係者間取引、私道を含む取引 5
関係者間取引、私道を含む取引 100
その他事情有り 104
調停・競売等、私道を含む取引 424
瑕疵有りの可能性 27
古屋付き・取壊し前提 13
隣地の購入、関係者間取引 33
私道を含む取引、その他事情有り 9
他の権利・負担付き 29
隣地の購入、その他事情有り 2
瑕疵有りの可能性、私道を含む取引 4
隣地の購入、調停・競売等、私道を含む取引 1
古屋付き・取壊し前提、私道を含む取引 2
他の権利・負担付き、私道を含む取引 2
関係者間取引、調停・競売等、私道を含む取引 1
他の権利・負担付き、調停・競売等 1
調停・競売等、その他事情有り 1
古屋付き・取壊し前提、瑕疵有りの可能性 1
隣地の購入、瑕疵有りの可能性 1
隣地の購入、調停・競売等 1

In [ ]:
間取り